:root {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* background-color: #17252A; */
    background-color: #384449;
}

.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    margin: 0 auto;
}

.title h1 {
    color: #D3D3D3;
}

.title h3 {
    margin: 0;
    color: #9094a1;
    padding-top: 32px;
}

.small-text {
    position: relative;
    bottom: -20px;
    font-size: 0.85rem ;
}

.container {
    width: 70%;
    height: 30vh;
    padding: 0;
    margin: auto;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-url {
    width: 100%;
    border-radius: 10px;
    padding: 12px;
    border: 1px solid #FFF;
    background-color: #D3D3D3
}

.input-url:focus {
    border: 1px solid transparent;
    outline: none;
}

.buttons-container {
    display: flex;
}

button {
    font-size: 1.2rem;
    margin-left: 12px;
    border: none;
    border-radius: 10px;
    padding: 12px 48px;
    background-color: #585F7A;
    color: #FFF;
    cursor: pointer;
}

button:hover {
    background-color: #585f7AD5;
}

button#clear-btn {
    display: none;
}

#footer {
    position: absolute;
    bottom: 8px;
    right: 12px;
    text-align: center;
    cursor: pointer;
}

#footer #link {
    display: flex;
    color: #9E9E9E;
    cursor: pointer;
}

.github {
    background-image: url("resources/github.png");
    background-size: contain;
    background-repeat: no-repeat;
    filter: contrast(0.5);
    width: 30px;
    height: 20px;
    display: block;
    margin-top: -1px;
}

/* toast styling and animations */

/* The toast - position it at the bottom and in the middle of the screen */
#toast {
    font-family: Arial, Helvetica, sans-serif;
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #FFF; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    transform: translateX(0);
    left: 50%; /* Center the toast */
    bottom: 30px; /* 30px from the bottom */
}
  
  /* Show the toast when clicking on a button (class added with JavaScript) */
  #toast.show {
    visibility: visible; /* Show the toast */
    /* Add animation: Take 0.5 seconds to fade in and out the toast.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  #toast.error {
      background-color: #B71C1C;
  }

  #toast.success {
      background-color: #388E3C;
  }
  
  /* Animations to fade the toast in and out */
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadeout {
    from {
        bottom: 30px; 
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
  }


  /* Media breakpoints */

/* Medium devices (landscape tablets, 768px and up) */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px),
only screen and (max-width: 600px) {
    .container {
        width: 90%;
        flex-direction: column;
    }
    input {
        margin-bottom: 12px;
    }

    .title {
        padding-top: 8px;
    }
    .title h3 {
        padding: 0 20px;
    }
    .small-text {
        bottom: -12px;
    }

    button#clear-btn {
        display: block;
    }

    #toast {
        transform: translateX(-10%);
    }
}